@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.image {
	display: none;
	border-radius: 100%;
	shape-outside: circle(50%);
	float: left;
	padding: 16px;
}
@media (min-width: 1024px) {
	.image {
		display: block;
		width: 380px;
		height: 380px;
	}
}
